
#ardo-image-preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: -1;
}

#ardo-image-preloader.load {
    visibility: visible;
    z-index: auto;
}

.ardo-image-preloader__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0;
    transition: opacity .3s;
}

#ardo-image-preloader.load .ardo-image-preloader__overlay {
    transition: opacity .3s;
    opacity: 0.9;
}

.ardo-image-preloader__container {
    height: 60px;
    margin: -30px auto 0;
    position: relative;
    top: 50%;
    width: 400px;
    z-index: 1;
    text-align: center;
}

.ardo-image-preloader__container p {
    color: #e8e8e8;
    font-size: 14px;
    margin-bottom: 30px;
}